.custom-search-bar {
    background-color: #ffffff;
    border-radius: 20px;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
}
.custom-search-bar input[type="text"] {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
}
.custom-search-bar input[type="text"]::placeholder {
    color: #aaa;
    margin-right: 10px;
}
.custom-search-bar .search-icon {
    font-size: 18px;
    color: #555;
}
