#coluna-direita {
    background-color: rgb(231, 229, 229);   
}

#row-principal{
    background-color: #f4346c;
}
#coluna-esquerda {
    background-color: #f4346c;
}

@media (min-width: 768px) {
    #coluna-esquerda {
        top: 0;
        left: 0;
        z-index: 999;
    }
}
