.profile {
    display: flex;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    margin-left: 30%;
    line-height: 1em;
}

.profile .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
    overflow: hidden;
}

.profile .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover
}
.details{
    margin-top: 10px;
    padding-bottom: 5px;
}
.details .username{
    font-size: small;
}
.details .usertype{
    font-size: small;
}
.username {
    font-weight: bold;
    margin-bottom: 5px;
}
.usertype {
    font-style: italic;
}

#small-profile{
    align-items: center;
    justify-content: center;
    margin-left: 3%;
}
#small-profile .details{
    margin-top: 0;
    padding-bottom: 25px;
}