#coluna-esquerda{
    height: 100%;
}

#coluna-esquerda i {
    padding-right: 10px;
}

p {
    font-size: medium;
    padding-top: 15px;
    font-weight: bold;
    padding-bottom: 30px;
}


#coluna-esquerda p {
    text-align: center;
}

#lista-coluna-esquerda {
    text-align: left;
}
#lista-coluna-colapse{
    padding-top: 20px;
}
#lista-coluna-esquerda ul,
#lista-coluna-colapse ul
{
    list-style-type: none;
    padding: 0;
}

#lista-coluna-esquerda ul li,
#lista-coluna-colapse ul li
{
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 10px;
}

#lista-coluna-esquerda ul li a{
    text-decoration: none; 
    color: white;
    font-size: 16px;
}
#lista-coluna-colapse ul li a{
    text-decoration: none; 
    color: black;
    font-size: 16px;
    padding: 25px;
}

#lista-coluna-esquerda ul li:hover,
#lista-coluna-esquerda .selected-lista-coluna-esquerda{
    background-color: white;
    border-radius: 60px;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 10px;
}

#lista-coluna-colapse ul li:hover,
#lista-coluna-colapse .selected-lista-coluna-esquerda{
    background-color: black;
    border-radius: 30px;
    text-align: center;
    padding-top: 10%;
}

#lista-coluna-esquerda ul li:hover a,
#lista-coluna-esquerda .colorir-link{
    color: black !important;
}

#lista-coluna-colapse ul li:hover a,
#lista-coluna-colapse .colorir-link{
    color: white !important;
    margin-bottom: 15%;
}